<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Welcome - Online Bookstore</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top shadow">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 10.995V14.5a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-3.505h1.5a.5.5 0 0 0 .353-.854l-5-5a.5.5 0 0 0-.707 0l-5 5A.5.5 0 0 0 1.5 10.995h1.5z"/>
        <path fill-rule="evenodd" d="M13 2.5V6l-1-1V2.5a.5.5 0 0 1 1 0z"/>
      </svg>
      <span class="fw-bold fs-4">Online Bookstore</span>
    </a>

    <div class="flex-grow-1"></div>

    <div>
      <a href="/login" class="btn btn-outline-light me-2">Login</a>
      <a href="/register" class="btn btn-light">Register</a>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h1>Welcome to the Online Bookstore!</h1>
  <p>Please login or register to continue.</p>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
